$color-main: hsla(246, 49%, 27%, 1);
$color-light: hsla(246, 93%, 66%, 1);
$color-bg: hsl(0, 0%, 100%);
$color-shadow: hsl(0, 0%, 0%);
$color-header-border: hsl(0, 0%, 80%);
$color-gray--dark: hsl(0, 0%, 62%);
$color-awards: hsla(47, 80%, 70%, 1);

$font-size--tiny: 12px;
$font-size--small: 14px;
$font-size--regular: 16px;
$font-size--bigger-regular: 18px;
$font-size--big: 24px;
$font-size--very-big: 36px;
$font-size--huge: 64px;