.team-form {
    background-color: $color-light;
    border-radius: 20px;
    color: $color-bg;
    padding-inline: 10px;
    text-align: center;
    height: auto;
    padding-bottom: 46px;
    position: relative;

    @media (min-width:1440px) {
        max-width: 750px;
    }

    &__text-area {
        display: block;
        background-color: $color-light;
        font-size: $font-size--tiny;
        font-weight: 400;
        border: none;
        border-bottom: 2px solid $color-form-border;
        margin: 30px auto 35px auto;
        width: 90%;
        height: 25px;
        outline: none;
        color: $color-bg;

        @media (min-width:768px) {
            font-size: $font-size--bigger-regular;
            margin: 46px auto 35px auto;
            width: 80%;
        }

        &:focus {
            border-bottom: 2px solid $color-bg;
        }

        &::placeholder {
            color: $color-form-border;
        }
    }

    &__submit {
        margin: 15px auto 35px auto;
        display: block;
        width: 268px;
        height: 60px;

        @media (min-width:768px) {
            width: 80%;
        }

        & input {
            border: none;
            border-radius: 5px;
            background-color: $color-bg;
            color: $color-light;
            font-size: $font-size--small;
            font-weight: 700;
            width: 100%;
            height: 60px;
            
        }
    }

    &__checkbox {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:hover + .team-form__checkbox-style {
            cursor: pointer;
            transform: scale(1.1);
        }

        &:checked {
            & + .team-form__checkbox-style {
                background-image: url(./img/checked.svg);
                background-position: center center;
                background-repeat: no-repeat;
                backdrop-filter: brightness(60%);
            }

            & ~ p span {
                color: $color-bg;
            }
        }

        &:focus + .team-form__checkbox-style {
            border: 2px solid $color-main;
        }

        & ~ p {
            display: inline;
            font-size: $font-size--tiny;
            font-weight: 400;

            & span {
                color: $color-form-border;
                transition: color .5s;
            }
        }
    }

    &__checkbox-style {
        position: relative;
        top: 3px;
        display: inline-flex;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background-color: $color-form-border;
        margin-right: 13px;
        transition: transform 0.3s, backdrop-filter .5s;
    }

    &__heading {
        font-size: $font-size--bigger-regular;
        font-weight: 700;
        margin-top: 37px;
    }

    &__additional-info {
        font-size: $font-size--tiny;
        font-weight: 400;
        margin: 21px 0px 35px 0px;

        @media (min-width:768px) {
            margin-inline: 60px;
        }
    }
}