.team {
    margin-top: 90px;

    @media (min-width:1440px) {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 100%;
    }

    &__form-wrapper {
        background-color: $color-form-wrapper;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;

        @media (min-width:768px) {
            padding: 68px 64px 60px 64px;
        }
        
        @media (min-width:1440px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;
            padding: 41px 98px 180px 98px;
            width: 80%;
            position: relative;
        }
    }

    &__heading {
        font-size: $font-size--big;
        font-weight: 800;
        margin: 40px 0px 30px 0px;

        @media (min-width:1440px) {
            font-size: $font-size--very-big;
            max-width: 220px;
            margin-top: 0;
            line-height: 166%;
        }
    }

    &__info {
        font-size: $font-size--tiny;
        font-weight: 400;
        text-align: center;

        @media (min-width:768px) {
            font-size: $font-size--regular;
        }

        @media (min-width:1440px) {
            font-size: $font-size--bigger-regular;
            text-align: start;
        }
    }

    &__form {
        margin: 30px 13px 13px 13px;

        @media (min-width:768px) {
            margin: 60px 60px 0px 60px;
        }

        @media (min-width:1440px) {
            margin: 0;
        }
    }

    &__text-wrapper {
        @media (min-width:1440px) {
            text-align: start;
            align-self: flex-start;
            width: 75%;
        }
    }

    // ------------------------------ Image positions ------------------------------ //

    &__form-rectangle-img {
        display: block;
        position: absolute;
        width: 119px;
        margin-top: -60px;
        align-self: flex-start;

        @media (min-width:768px) {
            margin-top: -140px;
            width: 146px;
        }

        @media (min-width:1440px) {
            margin-top: -110px;
            left: 350px;
        }
    }
    
    &__form-bar-img {
        display: block;
        position: absolute;
        width: 102px;
        margin-top: -40px;
        margin-right: -10px;
        align-self: flex-end;

        @media (min-width:768px) {
            width: 174px;
            margin-top: 400px;
            margin-right: -100px;
        }

        @media (min-width:1440px) {
            margin-bottom: 150px;
            right: 67px;
        }
    }
    
    &__form-donut-img {
        display: block;
        position: relative;
        width: 41px;
        margin-top: -25px;
        margin-left: -20px;
    }

    &__form-cube-img {
        display: block;
        position: absolute;
        width: 91px;
        right: -12px;
        bottom: -50px;
        
        @media (min-width:768px) {
            right: -100px;
            bottom: -160px;
            width: 110px;
        }

        @media (min-width:1440px) {
            width: 165px;
            bottom: -250px;
        }
    }

    &__form-like-img {
        display: block;
        width: 220px;
        align-self: flex-start;
        margin-bottom: 26px;

        @media (min-width:768px) {
            width: 330px;
            margin-bottom: 0;
            margin-top: 30px;
        }

        @media (min-width:1440px) {
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 430px;
        }
    }
}