.stage {
    border-radius: 10px;
    box-shadow: 0px 10px 60px 0px $color-main--transparent;
    padding: 23px 12px 25px 12px;
    margin: 50px 6px 50px 14px;
    min-width: 300px;

    @media (min-width:768px) {
        padding: 23px 28px 90px 49px;
    }

    & h3 {
        margin: 0;

        & span {
            font-size: $font-size--tiny;
            font-weight: 700;

            @media (min-width:768px) {
                font-size: $font-size--big;
            }
        }
    }

    & p {
        font-size: $font-size--tiny;
        font-weight: 400;
        margin-top: 14px;

        @media (min-width:768px) {
            font-size: $font-size--bigger-regular;
        }
    }

    & img {
        display: block;
        margin: 28px auto 25px auto;
        width: 90%;
    }

    &__number {
        display: inline-flex;
        background-color: $color-stage-number;
        width: 37px;
        height: 37px;
        border-radius: 50px;
        align-items: center;
        color: $color-bg;
        font-size: $font-size--bigger-regular;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        margin-right: 18px;

        @media (min-width:768px) {
            width: 53px;
            height: 53px;
            font-size: $font-size--big;
            margin-right: 50px;
        }
    }

    &__hr {
        background-color: $color-header-border;
        height: 1px;
        margin-inline: 5px;
        margin-top: 22px;

        @media (min-width:768px) {
            margin-bottom: 26px;
        }
    }
}

.main-body__stages {
    margin: 7px;
    
    @media (min-width:1440px) {
        align-self: center;
        width: 80%;
    }

    & h2 {
        font-size: $font-size--bigger-regular;
        font-weight: 800;
        margin: 0;

        @media (min-width:768px) {
            font-size: $font-size--big;
        }
    }
}